<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="container-fluid">
      <div class="row">
        <a href="/" class="col-5 logo">
          <div>beerLivery</div>
        </a>
        <a href="#" class="offset-6 col-1 card-icon"><img src="/images/card_icon.svg"></a>
      </div>
    </div>
  </header>

  <div id="card-background">
  </div>
  <div class="container main-card">
    <div class="row">
      <div class="col-12">
        <h1>Votre Panier :</h1>
      </div>

      <!-- P A R T I E  A R T I C L E S -->
      <div class="col-7">
        <div class="row card-margin">
          <div class="col-12 card-items">


            <!-- L I G N E   A R T I C L E -->
            <% for (let i = 0; i < 4; i++) { %>
            <div class="row card-oneitem">
              <div class="col-5">Hoegarden</div>
              <div class="col-3">
                <!-- input quantité-->
                <div class="container-fluid card-quantity">
                  <div class="count-input space-bottom">
                    <a class="incr-btn" data-action="decrease" href="#">–</a>
                    <input class="quantity" type="text" name="quantity" value="1" />
                    <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                  </div>
                </div>
              </div>
              <div class="col-2">4€</div>
              <div class="col-2"><img src="/images/img-card-trash.svg" class="imgtrash" /></div>
            </div>
            <% if (i < 4-1) { %>
            <div class="col-12 ligne-card"></div>
            <% }
            } %>
          </div>


          <!-- P A R T I E   O P T I O N S -->
          <div class="col-10">
            <div class="row card-options">
              <div class="col-12">
                <h2>Options</h2></div>
              <div class="col-1"></div>
              <div class="col-10 ligne-card"></div>
              <!-- Option décapsuleur -->
              <div class="col-12"> <input id="checkBox-decapsuleur" type="checkbox"> Décapsuleur : 2€</div>

              <div class="col-6">
                <div class="row">
                  <!-- Option cacahuètes-->
                  <% for (let i = 0; i < optionsData.length; i++) {%>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4 no-margin-no-padding">
                        <div class="card-quantity">
                          <div class="count-input space-bottom">
                            <a class="incr-btn" data-action="decrease" href="#">–</a>
                            <input class="quantity" type="text" name="quantity" value="1" />
                            <a class="incr-btn" data-action="increase" href="#">&plus;</a>
                          </div>
                        </div>
                      </div>
                      <div class="col-8 no-margin-no-padding">
                        <span><%=optionsData[i].name%></span>
                      </div>
                    </div>
                  </div>
                  <% } %>

                </div>
              </div>

              <div class="col-6">
                <h2>+1€ unité</h2>
                <p>*portion : 40g env.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- P A R T I E   R E S U M E  -->
      <div class="col-5">
        <div class="row card-resume">
          <div class="offset-6 col-6"><img src="/images/img-card-packbox.svg" alt="" id="imgpackbox" class="float-right"/></div>


          <div class="col-8">
            <div class="row">
              <div class="col-12"><p>Estimation livraison :</p></div>
              <div class="col-12"><p>Prix :</p></div>
              <div class="col-12"><p>Livreur :</p></div>
              <div class="col-12"><p>Options :</p></div>
            </div>
          </div>
          <div class="col-4">
            <div class="row card-options-right">
              <div class="col-12"><p>30 minutes</p></div>
              <div class="col-12"><p>12€</p></div>
              <div class="col-12"><p>1.5€</p></div>
              <div class="col-12"><p>3€</p></div>
            </div>
          </div>

          <div class="col-1"></div>
          <div class="col-10 ligne-card"></div>

          <div class="col-8"><h3>Prix Total :</h3></div>
          <div class="col-4 card-options-right"><h3>20€</h3></div>

        </div>

        <div class="row">
          <div class="offset-8 col-4">
            <form action="/checkout" method="POST">
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="pk_test_IZAko0n3TcNJBDruN4iZ5pYP"
                data-amount="999"
                data-name="beerLivery"
                data-description="X bières pour un montant de Y"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="eur">
              </script>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="card-footer"><p>© 2018 beerLivery Inc. Privacy Terms</p></div>
  </div>

  <script src="/javascripts/script.js"></script>
</body>

</html>
