<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="header-bar">
      <a href="/">
        <div class="col-12 logo">beerLivery (Go to "/")</div>
      </a>
    </div>
  </header>


  <div class="container main-card">
    <div class="row">
      <div class="col-12">
        <h1>Votre Panier :</h1></div>

        <!-- P A R T I E  A R T I C L E S -->
      <div class="col-8">
        <div class="row card-margin">
          <div class="col-12 card-items">


            <!-- L I G N E   A R T I C L E -->
            <div class="row card-oneitem">
              <div class="col-7">Hoegarden</div>
              <div class="col-2">-[2]+</div>
              <div class="col-2">4€</div>
              <div class="col-1"><img src="/images/img-card-trash.svg" alt="" id="imgtrash" /></div>
            </div>
            <div class="col-12 ligne-card"></div>


            <!-- L I G N E   A R T I C L E -->
            <div class="row card-oneitem">
              <div class="col-7">Hoegarden</div>
              <div class="col-2">-[2]+</div>
              <div class="col-2">4€</div>
              <div class="col-1"><img src="/images/img-card-trash.svg" alt="" id="imgtrash" /></div>
            </div>
            <div class="col-12 ligne-card"></div>


            <!-- L I G N E   A R T I C L E -->
            <div class="row card-oneitem">
              <div class="col-7">Hoegarden</div>
              <div class="col-2">-[2]+</div>
              <div class="col-2">4€</div>
              <div class="col-1"><img src="/images/img-card-trash.svg" alt="" id="imgtrash" /></div>
            </div>
            <div class="col-12 ligne-card"></div>


            <!-- L I G N E   A R T I C L E -->
            <div class="row card-oneitem">
              <div class="col-7">Hoegarden</div>
              <div class="col-2">-[2]+</div>
              <div class="col-2">4€</div>
              <div class="col-1"><img src="/images/img-card-trash.svg" alt="" id="imgtrash" /></div>
            </div>
          </div>


          <!-- P A R T I E   O P T I O N S -->
          <div class="col-10">
            <div class="row card-options">
              <div class="col-12"> <h2>Options</h2></div>
              <div class="col-1"></div>
              <div class="col-10 ligne-card"></div>
              <div class="col-12"> [x] Décapsuleur : 2€</div>

              <div class="col-6">
                <div class="row">
                  <div class="col-12">-[2]+ cacahuètes*</div>
                  <div class="col-12">-[0]+ bretzels*</div>
                  <div class="col-12">-[1]+ chips*</div>
                </div>
              </div>

              <div class="col-6">
                <p>+1€ unité</p>
                <p>*portion : 40g env.</p>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- P A R T I E   R E S U M E  -->
      <div class="col-4">
        <div class="row card-resume">
          <div class="offset-6 col-6"><img src="/images/img-card-packbox.svg" alt="" id="imgpackbox" /></div>
          <div class="col-8">Estimation livraison :</div>
          <div class="col-4">30 minutes</div>

          <div class="col-8">Prix :</div>
          <div class="col-4">12€</div>

          <div class="col-8">Livreur :</div>
          <div class="col-4">1.5€</div>

          <div class="col-8">Options :</div>
          <div class="col-4">3€</div>

          <div class="col-8">Prix Total :</div>
          <div class="col-4">20€</div>

        </div>

        <div class="row">
          <div class="offset-8 col-4"><button type="submit" class="btn btn-warning btn-lg" id="card-btn-buy">Payer</button></div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>
