<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <a href="/" class="col-5 logo">
            <div>beerLivery</div>
          </a>
        </div>
      </div>
    </header>
    <div id="card-background">
    </div>
    <div class="container main-card">
      <div class="row">
        <div class="offset-2 col-8" id="card-empty-404">
          <h3>Wooops. Page introuvable.. fail !</h3>
          <a href="/catalogue"><img src="https://i.gifer.com/2dvD.gif" id="card-img-empty" alt=""></a>
          <h3>Désolé pour la gêne occasionnée</h3>
          <div><a href="/"><h3>Retouner à l'accueil</h3></a></div>
        </div>
      </div>
    </div>

  </body>

</html> -->
