<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la d'mi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa|Quicksand|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <script src="/javascripts/script.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  <header>
    <div class="container-fluid">
      <div class="row">
        <a href="#" class="col-lg-5 logo">
          <div>beerLivery</div>
        </a>
        <a href="/card" class="offset-lg-6 col-lg-1 card-icon"><img src="/images/card_icon.svg"></a>
      </div>
    </div>
  </header>

  <main>
    <div class="main-top">

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1>Nos bières, chez vous,<br/>dans la d'mi heure.</h1>

            <form class="form-inline" id="search-form" action="/search-address" method="POST">
              <div class="form-group mb-2 search-bar" id="search-div">
                <input type="text" name="address" class="form-control" id="search-bar" placeholder="Saisissez votre adresse ...">
              </div>
              <button type="submit" class="btn btn-primary mb-2" id="search-button">Search</button>
            </form>

          </div>
        </div>
      </div>
    </div>

    <div class="main-content">
      <div class="container">
        <div class="row">
          <% for (let i = 0; i < cardsData.length; i++) { %>
            <div class="col-lg-4">
              <div class="pres-cards text-center">
                <img class="pres-cards-img" src="<%=cardsData[i].img%>">
                <div class="offset-lg-1 col-lg-10">
                  <hr>
                  <!-- Horizontal Rule -->
                </div>
                <h3><%= cardsData[i].tag%></h3>
                <div class="pres-cards-content">
                  <%= cardsData[i].data%>
                </div>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </main>


<!-- F  O  O  T  E  R -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 logo">beerLivery</div>

        <div class="col-lg-12 ligne"></div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-6 offset-lg-4 col-lg-4">
              <p><a href="#">A propos de beerLivery</a></p>
              <p><a href="#">Devenez livreur</a></p>
              <p><a href="#">Devenez partenaire officiel</a></p>
            </div>
            <div class="col-6 col-lg-4">
              <p><a href="#">Aide</a></p>
              <p><a href="#">FAQ</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-12 ligne"></div>

        <a class="offset-lg-4 col-lg-8" href="http://s2.quickmeme.com/img/03/03d4e03e48166e1595c783db787bf6adf760e23faaf914f8ace431dd3cfe1bae.jpg">App soon - Come back in 2056</a>

        <div class="col-lg-12 ligne"></div>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-4">
              <p><a href="#">2018 beerLivery</a></p>
            </div>
            <div class="col-lg-4">
              <p><a href="#">Privacy</a></p>
            </div>
            <div class="col-lg-4">
              <p><a href="#">Terms</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsUHAZo4SpFfe0M0_05WWmYKy7AcLoFtI&callback=findAddress&libraries=places"></script>
</body>

</html>
