<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>beerLivery - Nos bières, chez vous, dans la demi heure</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Changa" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="header-bar">

    </div>
  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Nos bières, chez vous,<br/>dans la d'mi heure.</h1>
          <form class="address-input">
            <div>
              <input class="input-btn" placeholder="Saisissez votre adresse ...">
            </div>
          </form>

        </div>

      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12" id="logo">beerLivery</div>

        <div class="col-12 ligne"></div>

        <div class="col-12">
          <div class="row">
            <div class="offset-4 col-4">
              <p>A propos de beerLivery</p>
              <p>Devenez livreur</p>
              <p>Devenez partenaire officiel</p>
            </div>
            <div class="col-4">
              <p>Aide</p>
              <p>FAQ</p>
            </div>
          </div>
        </div>

        <div class="col-12 ligne"></div>

        <div class="col-12 col-centered">App soon - Come back in 2056
        </div>

        <div class="col-12 ligne"></div>

        <div class="col-12">
          <div class="row">
            <div class="col-4">
              <p>2018 beerLivery</p>
            </div>
            <div class="col-4">
              <p>Privacy</p>
            </div>
            <div class="col-4">
              <p>Terms</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
