body {
  padding: 0;
  margin: 0;
  background-color: #f7f6f6;
}

/* H E A D E R */

header {
  height: 64px;
  width: 100%;
  overflow: hidden;
  background-color: #f7f6f6;
  position: fixed;
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
}

header .logo {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  color: #2a9ad6;
  font-style: italic;
  font-weight: bold;
}

header a:link, header a:visited, header a:hover, header a:active {
  text-decoration: none;
}

header .card-icon {
  background-image: url("/images/card_icon.svg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

header .panier{
  font-family: 'Changa', sans-serif;
  font-size: 30px;
  color: #2a9ad6;
  font-style: italic;
  font-weight: bold;
}

/* M A I N   T O P*/

main .main-top {
  height: 480px;
  padding-top: 64px;
  background: rgba(244, 144, 12, 0.85);
  background-image: url("/images/beer_ice_transparent.png"), radial-gradient(ellipse at 30% top, #fccd35 15%, rgba(244, 144, 12, 0.85) 70%);
  background-repeat: no-repeat, no-repeat;
  background-position: right 25% bottom;
  background-size: 500px, auto;
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
}

main .main-top h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0;
  padding-top: 100px;
  font-weight: bold;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
}

#search-div {
  padding-right: 5px;
}

#search-bar {
  width: 478px;
  height: 40px;
}

#search-button {
  height: 40px;
}

#search-form {
  margin-top: 25px;
}

#background-articles {
  padding: 100px 0 50px 0;
}

#index-background-img-beers {
  width: 550px;
}

.article {
  border: 1px solid #e2e2e2;
  height: 400px;
  margin: 15px;
  background-color: #FFFFFF;
}

.img-article {
  height: 220px;
  margin: 40px 0 20px 0;
}

#background-articles .rating-bar .b-img {
  height: 30px;
}

.beer-quantity {
  border: 0;
  margin-left: 10px;
  padding: 5px;
  width: 40px;
  text-align: center;
  background-color: white;
  font-size: 14px;
  font-weight: bold;
}

/* M A I N   C O N T E N T */

main .main-content {
  background-color: #f7f6f6;
  margin: 70px 0 70px 0;
}

main .pres-cards {
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  margin: 0;
  justify-content: center;
}

main .main-content h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 30px 0 20px 0;
}

hr {
  margin: 7px;
  border-color: #e2e2e2;
}

main .main-content .pres-cards-content {
  height: 165px;
  margin: 0 30px 0 30px;
  padding: 10px 15px 15px 15px;
  font-size: 16px;
}

/*********************************/

/************************************** C  A  R  D  **************************************/

.no-margin-no-padding {
  padding: 0;
  margin: 0;
}

#card-empty-404 {
  border: 1px solid #e2e2e2;
  background-color: white;
  padding: 0 0 50px 120px;
}

#card-background {
  width: 100%;
  height: 480px;
  position: absolute;
  background: rgba(244, 144, 12, 0.85);
  background-image: radial-gradient(ellipse at 30% top, #fccd35 15%, transparent 70%);
}

#card-img-empty {
  width: 500px;
  height: 400px;
}

.main-card {
  padding-top: 130px;
  font-size: 16px;
}

.card-margin {
  margin-right: 30px;
}

.card-items {
  margin: 30px 0 30px 0;
  padding: 10px 0 10px 0;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.card-oneitem {
  padding: 0 0 0 10px;
}

.card-options {
  border: 1px solid #e2e2e2;
  padding: 0 0 20px 0;
  background-color: white;
}

.card-options-right {
  text-align: right;
}

.card-resume {
  margin-top: 30px;
  padding: 50px 20px 20px 20px;
  border: 1px solid #e2e2e2;
  background-color: white;
}

.ligne-card {
  border-top: 1px solid #e2e2e2;
  margin: 10px 0 10px 0;
}

.imgtrash {
  width: 25px;
}

#checkBox-decapsuleur {
  margin: 20px 0 30px 0;
}

#imgpackbox {
  width: 100px;
  padding: 0 0 30px 0;
}

.stripe-button-el {
  margin: 20px 0 0 0;
  width: 100%;
}

#card-footer {
  position: absolute;
  bottom: 0;
}

/* input quantité*/

.count-input {
  position: relative;
  width: 100%;
  max-width: 70px;
}

.card-quantity {
  padding: 0;
  margin: 0;
}

.count-input input {
  width: 100%;
  height: 30px;
  border: none;
  background: none;
  text-align: center;
}

.count-input input:focus {
  outline: none;
}

.count-input .incr-btn, .count-input .incr-btn-options {
  display: block;
  position: absolute;
  width: 37px;
  height: 37px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration: none;
}

.count-input .incr-btn:first-child, .count-input .incr-btn-options:first-child {
  right: auto;
  left: 0;
  top: 46%;
}

.count-input.count-input-sm {
  max-width: 125px;
}

.count-input.count-input-sm input {
  height: 36px;
}

.count-input.count-input-lg {
  max-width: 200px;
}

.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

main .main-content .pres-cards-img {
  height: 72px;
  margin-top: 20px;
}

main .main-content h3 {
  margin: 15px 0 0 0;
}

/*********************************/

/*********************************** F  O  O  T  E  R  ***********************************/

footer {
  background-color: #2a9ad6;
  color: white;
  padding: 48px 64px 48px 64px;
  margin: 0;
  bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: #fccd35;
}

.ligne {
  border-top: 1px solid white;
  padding: 0;
  margin: 24px 0 24px 0;
}

footer .logo {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: bold;
}


/************************ R E S P O N S I V E    P O W E R *************************/

@media only screen and (max-width: 991px) {
/******************* H E A D E R ********************/

header .logo {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  color: #2a9ad6;
  font-style: italic;
  font-weight: bold;
}

header a:link, header a:visited, header a:hover, header a:active {
  text-decoration: none;
}

header .card-icon img {
  width: 85px;
  margin-top: 14px;
  margin-bottom: 14px;
}



  /****************** I N D E X *******************/
  main .main-top {
    height: 400px;
    padding: 0;
    background-position: right 12% bottom;
    background-size: 400px, auto;
  }

  main .pres-cards {
    margin-bottom: 30px;
    justify-content: center;
  }

  main .main-content {
    background-color: #f7f6f6;
    margin: 40px 0 20px 0;
  }

  main .main-content .pres-cards-content {
    height: 120px;
    margin: 0 30px 0 30px;
    padding: 10px 15px 15px 15px;
    font-size: 16px;
  }

  /****************** C A T A L O G U E *******************/
  .article {
    height: 370px;
  }

  .img-article {
    height: 180px;
    margin: 40px 0 20px 0;
  }
}

@media only screen and (max-width: 767px){
  /****************** I N D E X *******************/
  main .main-top {
    height: 320px;
    padding: 0;
    background-position: right 6% bottom;
    background-size: 250px, auto;
  }

  main .main-top h1 {
    font-size: 30px;
    padding-top: 80px;
    font-weight: bold;
  }

  #search-bar {
    width: 300px;
    height: 35px;
  }

  #search-button {
    height: 35px;
  }

  /****************** C A T A L O G U E *******************/
}

@media only screen and (max-width: 422px){
  /****************** I N D E X *******************/
  main .main-top h1 {
    font-size: 25px;
    padding-top: 70px;
    font-weight: bold;
  }

  #search-bar {
    width: 200px;
    height: 35px;
  }

  #search-button {
    height: 35px;
  }

  main .main-content .pres-cards-content {
    font-size: 15px;
  }
  main .main-content .pres-cards h3 {
    font-size: 18px;
  }

  /****************** C A T A L O G U E *******************/
}
