body {}

/* H E A D E R */

header {
  height: 64px;
  width: 100%;
  overflow: hidden;
  background-color: #f7f6f6;
  position: fixed;
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
}

header .logo {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  color: #2a9ad6;
  font-style: italic;
  font-weight: bold;
}

header a:link, header a:visited, header a:hover, header a:active {
  text-decoration: none;
}

/* M A I N   T O P*/

main .main-top {
  height: 480px;
  padding: 64px;
  background: rgba(244, 144, 12, 0.85);
  background-image: radial-gradient(ellipse at 30% top, #fccd35 15%, transparent 70%);
  -webkit-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.2);
}

main .main-top h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0;
  padding-top: 100px;
}

#main-background {
  height: 100%;
  background-image: url('/images/beer_ice_transparent.png');
  background-repeat: no-repeat;
  bottom: 0;
}

#search-div {
  padding-right: 5px;
}

#search-bar {
  width: 478px;
  height: 40px;
}

#search-button {
  height: 40px;
}

#search-form {
  margin-top: 25px;
}

#background-articles {
  padding: 100px 0 50px 0;
}

.article {
  border: 1px solid #e2e2e2;
  height: 400px;
  margin: 15px;
}

.img-article {
  height: 230px;
  margin: 40px 0 20px 0;
}

/* M A I N   C O N T E N T */

main .main-content {
  height: 400px;
  background-color: #f7f6f6;
}

main .pres-cards {
  border: 1px solid #e2e2e2;
  height: 300px;
  margin: 50px 0 50px 0;
  justify-content: center;
}

main .main-content h2 {
  font-family: 'Quicksand', sans-serif;
  margin: 30px 0 20px 0;
}

hr {
  margin: 7px;
  border-color: #e2e2e2;
}

main .main-content .pres-cards-content {
  height: 214px;
  margin: 0 30px 0 30px;
  padding: 25px;
  font-size: 16px;
}

/* F O O T E R */

footer {
  background-color: #2a9ad6;
  color: white;
  padding: 64px;
  margin: 0;
  bottom: 0;
}

footer a {
  color: white;
}

footer a:hover {
  color: #fccd35;
}

.ligne {
  border-top: 1px solid white;
  padding: 0;
  margin: 24px 0 24px;
}

footer .logo {
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  color: white;
  font-style: italic;
  font-weight: bold;
}

/* T E S T */
